{% extends "polls/greeting.html" %}
{% block content %}

    <div class="container">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Polls of Birthday</h3>
              <nav>
                <ul class="nav masthead-nav top_bar">
                  <li><a href="{% url 'polls:greeting' %}">Home</a></li>
                  <li><a href="{% url 'polls:index' %}">All days of birth</a></li>
                  <li class="active"><a href=" {% url 'polls:contact' %}">Contacts</a></li>
                </ul>
              </nav>
            </div>
          </div>

        <div class="inner cover some_text">
            <p>"Here will be contacts of dudes"</p>
        </div>

{% endblock %}
