{% extends "polls/greeting.html" %}
{% block content %}
      <div class="container">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Polls of Birthday</h3>
              <nav>
                <ul class="nav masthead-nav top_bar">
                  <li><a href="{% url 'polls:greeting' %}">Home</a></li>
                  <li class="active"><a href="{% url 'polls:index' %}">All days of birth</a></li>
                  <li><a href=" {% url 'polls:contact' %}">Contacts</a></li>
                </ul>
              </nav>
            </div>
          </div>

        <div class="inner cover">
            <ul class="list_birth">

                {% for question in latest_question_list %}
                  <li><a href="{% url 'polls:vote' question.id %}">{{ question.question_text }}</a></li>
                 {# {{ question }} #}
                {% empty %}
                 <li>No polls are available.</li>
                {% endfor  %}

            </ul>
        </div>

{% endblock %}

