{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "polls/bootstrap/css/bootstrap.min.css" %}" />

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

    <!-- Custom styles for this template -->
    <link href="{% static "polls/bootstrap/css/cover.css" %}" rel="stylesheet">

</head>

<body>

    <div class="container">

      <div class="cover-container">

         <div class="">
         <div class="inner">
           <h3 class="masthead-brand">Polls of Birthday</h3>
           <nav>
           <ul class="nav masthead-nav">
            <li><a href="{% url 'polls:greeting' %}">Home</a></li>
            <li><a href="{% url 'polls:index' %}">All days of birth</a></li>
            <li><a href="#">Add question</a></li>
            <li><a href="#">Contacts</a></li>
           </ul>
           </nav>
           </div>
           </div>
           <div class="inner cover">
         <ul style="padding-top: 140px;">

             <h1>{{ question.question_text }}</h1>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                {% endfor %}
            <input class='vote' type="submit" value="Vote" style="color: #a94442;">
            </form>

        </ul>
            </div>
            <div class="mastfoot" style="padding-left: 50px;">
                <div class="inner">
                    <p>IT Company of Kremenchug.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript ================================================= -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="{% static "polls/bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>
